:root {
  ---background-color: #222;
  ---main-color: #f00;
}

body {
  padding: 0;
  margin: 0;
}

/* Scrollbar */

::-webkit-scrollbar {
  /* Scrollbars */
  width: 14px;
  height: 14px;
  background: transparent;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

::-webkit-scrollbar-thumb {
  /* Barre */
  border: solid 0 transparent;
  border-right-width: 4px;
  -webkit-border-radius: 5px;
  -webkit-border-top-right-radius: 9px 5px;
  -webkit-border-bottom-right-radius: 9px 5px;
  -webkit-box-shadow: inset 0 0 0 1px #555, inset 0 0 0 6px #666;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

::-webkit-scrollbar-corner {
  /* Coin de la fenêtre */
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  /* Barre quand survolée */
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  -webkit-box-shadow: inset 0 0 0 1px #bbb, inset 0 0 0 6px #111;
}

::-webkit-scrollbar-thumb:horizontal {
  /* Barre du bas */
  border-right-width: 0;
  border-bottom-width: 4px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px 9px;
  -webkit-border-bottom-left-radius: 5px 9px;
}

body {
  background-color: var(---background-color);
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 11pt;
  user-select: none;
}

main {
  background: linear-gradient(-135deg, var(---main-color) 5%, transparent 20vw),
    linear-gradient(45deg, var(---main-color) 2%, transparent 20vw);
}

footer a {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  transition: all 0.2s ease-out 0s;
}

footer a:link,
footer a:visited,
footer a:active,
footer a:focus {
  color: #fff;
}

footer a:hover {
  color: var(---main-color);
  transition: all 0.2s ease-out 0s;
}

footer a:link {
  text-decoration: none;
}

.delimitation {
  margin-bottom: 40px;
  border-bottom: 5px dotted var(---main-color);
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

main .pagetitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main .pagetitle h1 {
  font-family: Library3am;
  font-size: 6em;
  text-align: center;
  margin: 0;
  border-radius: 18px;
}

main .pagetitle h2 {
  font-family: Colombia;
  font-size: 3em;
  text-align: center;
  margin: 0;
  border-top: 7px dotted var(---main-color);
}

main .faq-content {
  transition: all 0.5s ease-out 0s;
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 5px;
}

main .faq-content img {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  max-width: 50vw;
}

main .faq-content h2,
main .faq-content p {
  text-align: center;
  margin: 0;
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

main .faq-content h2 {
  font-size: 3em;
  font-family: Colombia;
}

main .faq-content p {
  font-size: 1.25em;
}

.main .faq-content img {
  border-radius: 10px;
}

/* main .content1:hover,
main .content2:hover {
    transition: all 0.9s ease-out 0s;
    background-color: #ccc;
    color: black;
    text-shadow: 0.3rem 0.3rem 0.5rem black;
} */

main .myprojects {
  display: flexbox;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

main .amyprojects {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  color: white;
  font-family: Library3am;
  font-size: 30pt;
  text-decoration: none;
  border-radius: 5px;
  background: linear-gradient(45deg, red, blue);
  max-width: fit-content;
  padding: 8px;
  transition: all 0.5s ease-out 0s;
}

main .amyprojects:hover {
  translate: 0px -10px;
}