/* CSS principal pour un site web qui référence des projets de jeux qui n'ont pas été terminé, style retro */

/* Importer des polices d'écriture depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Importer des polices d'écriture depuis le dossier fonts local */
@font-face {
    font-family: "AnkhSactuary";
    src: url(./fonts/AnkhSanctuary/AnkhSanctuary-nROx4.ttf);
}

@font-face {
    font-family: "DripOctober";
    src: url(./fonts/DripOctober/DripOctober-vm0JA.ttf);
}

@font-face {
    font-family: "BruceForever";
    src: url(./fonts/BruceForever/BruceForeverRegular-X3jd2.ttf);
}

@font-face {
    font-family: "Progress";
    src: url(./fonts/Progress/ProgressPersonalUse-EaJdz.ttf);
}

/* DOCS https://developer.mozilla.org/fr/docs/Web/CSS

 * Unités de mesure : https://www.w3.org/Style/Examples/007/units.fr.html

 * Gradients : https://developer.mozilla.org/fr/docs/Web/CSS/gradient
 * linear-gradient, radial-gradient, conic-gradient etc...

*/

/* Début du CSS du site */
body {
    background-color: #222222; /* couleur de fond */
    color: white; /* couleur du text */
    font-family: 'BruceForever'; /* police d'écriture */
    height: 100%; /* hauteur de la page */
}

body .title_div {
    width: 100%; /* largeur de la box */
    display: flex; /* https://developer.mozilla.org/fr/docs/Web/CSS/flex  */
    justify-content: center; /* Permet de centrer les éléments (avec display: flex) */
}

body .title_div h1 {
    border-radius: 15px; /* arrondissemnt des angles de la bordure */
    box-shadow: 0 0 10px 0 #000000; /* ombre de la box */
    padding: 30px 70px; /* espacement interne de la box */
    margin-bottom: 10px; /* espacement entre la box actuelle et la box suivante */
    margin-top: 0; /* on enlève l'espacement entre la box actuelle et la box précédente */
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(24, 24, 24) 11.2%, rgb(51, 51, 51) 91.1%); /* permet de faire un dégradé de couleur */
    font-size: 5em; /* taille de la police */
    font-family: 'BruceForever', sans-serif; /* police d'écriture */
    text-align: center; /* aligner le texte horizontalement au centre */
    max-width: 50%; /* largeur maximale de la box */
}

.sub_title_div {
    width: 100%;
    display: flex; /* idem que plus haut */
    justify-content: center;
}

.subtitles {
    margin-top: 30px;
    max-width: 65%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* permet de faire des retours à la ligne quand il y a display: flex */
    border-top: 3px dashed #ff0000; /* forme, épaisseur et couleur de la bordure du haut */
    border-bottom: 3px dashed #ff0000; /* forme, épaisseur et couleur de la bordure du bas */
    border-radius: 20px;
    background-image: none; /* on enlève le dégradé de couleur */
    transition: all 0.2s ease-in-out; /* permet de faire une transition */
    /*  all = toutes les propriétés de la box
        0.2s = durée de la transition
        ease-in-out = type de transition (ici une transition douce) */
}

.subtitles:hover { /* quand on passe la souris sur l'élément */
    background-color: transparent; /* on enlève la couleur de fond */
    transition: all 0.2s ease-in-out;
    background-image: linear-gradient(180deg, #222 0%, #500404 100%);
    border-top: 3px dashed #ff0000;
    border-bottom: 3px dashed #ff0000;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 #ff0000;
    padding: 15px;
}

.subtitles .subtitle {
    display: flex;
    font-size: 2.5em;
    font-family: 'Progress', sans-serif; /* police importée localement en haut du fichier CSS */
    text-align: center; /* aligner que le texte au centre */
    margin: 0; /* on enlève l'espacement externe */
    padding: 0; /* et l'interne */
    min-width: 65%; /* largeur minimale de la box */
    max-width: 100%; /* largeur maximale de la box */
    justify-content: center; /* aligner les éléments à l'intérieur de la box horizontalement au centre : https://developer.mozilla.org/fr/docs/Web/CSS/justify-content */
    align-items: center; /* aligner les éléments à l'intérieur de la box verticalement au centre : https://developer.mozilla.org/fr/docs/Web/CSS/align-items*/
}

.subtitles .subtitle .sub_attack {
    color: #ff0000;
}

.discover_title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.discover_title h2 {
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #000000;
    padding: 30px 70px;
    margin-bottom: 10px;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(24, 24, 24) 11.2%, rgb(51, 51, 51) 91.1%);
    display: flex;
    font-size: 4em;
    font-weight: 300;
    font-family: 'BruceForever', sans-serif;
    justify-content: center;
    margin: 0;
    margin-top: 75px;
}

body a {
    color: white;
    text-decoration: none; /* enlève le soulignement du texte et autre décorations */
}

body a:hover {
    color: #ff0000;
}

body a:visited {
    color: white;
}






.games_tab {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Progress;
}

.container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.container .card {
    position: relative; /* docs : https://developer.mozilla.org/fr/docs/Web/CSS/position (trop chiant à expliquer en texte) */
}

.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.4s;

}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1; /* "couche" où est positionné l'élément (plus le chiffre est grand plus c'est "proche" de l'écran) (ex: 10000 = il se verra tout le temps) */
    transform: translateY(100px); /* déplacer l'élément de 100px vers le bas */
}

.container .card:hover .face.face1 {
    transform: translateY(0); /* remettre l'élément à sa place */
    box-shadow: /* ombre très compliquée */
        inset 0 0 40px whitesmoke,
        inset 20px 0 60px #f00,
        inset -20px 0 60px #f00,
        inset 20px 0 300px #f00,
        inset -20px 0 300px #f00,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #f0f;

}

.container .card .face.face1 .content {
    opacity: .2; /* changer l'opacité de l'élément (0 = transparent, 1 = opaque) */
    transition: 0.5s;
    text-align: center;
}

.container .card:hover .face.face1 .content {
    opacity: 1;

}

.container .card .face.face1 .content i {
    font-size: 3em;
    color: white;
    display: inline-block; /* docs : https://developer.mozilla.org/fr/docs/Web/CSS/display */

}

.container .card .face.face1 .content h3 {
    font-size: 3em;
    color: white;
    text-align: center;
}

.container .card .face.face1 .content a {
    transition: .5s;
}

.container .card .face.face2 {
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2 {
    transform: translateY(0);


}

.container .card .face.face2 .content p,
a {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    color: #333;
}

.container .card .face.face2 .content a {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    outline: 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}

.container .card .face.face2 .content a:hover {
    background: #333;
    color: whitesmoke;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}



/* Scrollbar */

::-webkit-scrollbar {
    /* Scrollbars */
    width: 14px;
    height: 14px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    /* Barre */
    border: solid 0 transparent;
    border-right-width: 4px;
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 9px 5px;
    -webkit-border-bottom-right-radius: 9px 5px;
    -webkit-box-shadow: inset 0 0 0 1px rgb(79, 79, 79),
        inset 0 0 0 6px rgb(102, 102, 102);
}

::-webkit-scrollbar-corner {
    /* Coin de la fenêtre */
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    /* Barre */
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    -webkit-box-shadow: inset 0 0 0 1px rgb(90, 90, 90),
        inset 0 0 0 6px rgb(110, 110, 110);
}

::-webkit-scrollbar-thumb:horizontal {
    /* Barre du bas */
    border-right-width: 0;
    border-bottom-width: 4px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px 9px;
    -webkit-border-bottom-left-radius: 5px 9px;
}