$ease_out: cubic-bezier(0.165, 0.84, 0.44, 1);

@mixin transition() {
    transition: 700ms $ease_out;

    &:hover{
        transition: 400ms $ease_out;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
	font-size: 1.2rem;
	font-family: "Open Sans", sans-serif;
	color: #444;
	background-color: #fff;
	margin: 0;
	padding: 4rem;
	text-align: center;
}
.arrow-btn{
	position: relative;
	display: inline-block;
  	border-radius: 0;
	color: #b2876f;
  	margin-top:2rem;
  	font-weight: bold;
  	font-size: 0.8rem;
  	letter-spacing: 2px;
  	text-decoration: none;
	@include transition;
	padding-right: 2.5em;
	// vertical-align: top;
	
	
	&:hover{
		&:after{
			transition: 400ms $ease_out;
			transform: translateX(15px);
			opacity: 0;
		}
		&:before{
			transition: 700ms $ease_out;
			transform: translateX(0);
			opacity: 1;
		}
	}
	
	&:before,&:after{
		content: '\27F6';
		position: absolute;
		right: 0;
		top: -25%;
	}
	
	&:before{
		transform: translateX(-15px);
		opacity: 0;
	}
	&:after{
		transform: none;
	}
}
.gradient-btn{
	display: inline-block;
  	padding: 1em 2em;
  	border-radius: 0;
	color: #b2876f;
  	margin-top:2rem;
  	font-weight: bold;
  	font-size: 0.678rem;
  	letter-spacing: 2px;
  	text-transform: uppercase;
  	text-decoration: none;
	background: linear-gradient(to right, rgba(#b2876f, 0) 25%, rgba(#b2876f, .8) 75%);
	background-position: 1% 50%;
	background-size: 400% 300%;
	border: 1px solid #b2876f;
	@include transition;
	
	&:hover{
		color: white;
    	color: #fff;
    	background-position: 99% 50%;
	}
}

$framePad : 5px;
.frame-btn{
	margin-top:50px;
	line-height: $framePad * 2;
	display: inline-block;
	padding: ($framePad * 5) ($framePad * 6);
  	font-size: $framePad * 2;
  	letter-spacing: $framePad * 0.6;
  	text-decoration: none;
	position: relative;
	&__text{
		color: #b2876f;
  		font-weight: bold;
		text-transform: uppercase;
		transition: 300ms ease;
		position: relative;
		
		.frame-btn:hover & {
			color: white;
		}
	}
	&__solid{
		position: absolute;
		top: 0;
		left: 0;
		margin: $framePad * 2;
		background-color: #b2876f;
		width: calc(100% - (#{$framePad} * 4));
		height: calc(100% - (#{$framePad} * 4));
		transform-origin: 50%;
		transform: scale(0.85);
		opacity: 0;
		transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
		
		.frame-btn:hover & {
			opacity: 1;
			transform: scale(1);
		}
	}
	&__outline{
		position: absolute;
		top: 0;
		left: 0;
		// background-color: rgba(black, 0.05);
		
		
		&--tall{
			margin: 0 $framePad;
			width: calc(100% - (#{$framePad} * 2));
			height: 100%;
		}
		&--flat{
			margin: $framePad 0;
			height: calc(100% - (#{$framePad} * 2));
			width: 100%;
		}
	}
	&__line{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		
		&--tall{
			&:before,
			&:after{
				height: 100%;
				width: $framePad * .2;
				top:0;
				
				.frame-btn:hover .frame-btn__outline--flat &{
					transform: scaleY(0);
				}
				.frame-btn:hover .frame-btn__outline--tall &{
					margin: $framePad 0;
					height: calc(100% - (#{$framePad} * 2));
				}
			}
			
			&:before{
				left: 0;
			}
			&:after{
				right: 0;
			}
		}
		&--flat{
			&:before,
			&:after{
				width: 100%;
				height: $framePad * .2;;
				left: 0;
				
				.frame-btn:hover .frame-btn__outline--tall &{
					transform: scaleX(0);
				}
				.frame-btn:hover .frame-btn__outline--flat &{
					margin: 0 $framePad;
					width: calc(100% - (#{$framePad} * 2));
				}
			}
			
			&:before{
				top: 0;
			}
			&:after{
				bottom: 0;
			}
		}
		&:before,
		&:after{
			content: '';
			display: block;
			position: absolute;
			background-color: #b2876f;
			transition: 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
			.frame-btn:hover & {
				transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
			}
		}
	}
}
.underline-hover-btn{
	display: inline-block;
  	padding: 1em 0;
  	border-radius: 0;
	color: #b2876f;
  	margin-top:2rem;
  	font-weight: bold;
  	font-size: 0.678rem;
  	letter-spacing: 2px;
  	text-transform: uppercase;
  	text-decoration: none;
	position: relative;
    &:hover{
        color: #b2876f;
        &:before{
            transform: none;
            opacity: 1;
            transition-duration: .4s;
        }
        
    }

    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -0px;
        background: lighten(#b2876f, 20%);
        transform: translateY(6px);
        opacity: 0;
        transition: 1.8s cubic-bezier(.2,1,.3,1);
        pointer-events: none;
    }
}
.underline-btn{
	display: inline-block;
  	padding: 1em 0;
  	border-radius: 0;
	color: #b2876f;
  	margin-top:2rem;
  	font-weight: bold;
  	font-size: 0.678rem;
  	letter-spacing: 2px;
  	text-transform: uppercase;
  	text-decoration: none;
	position: relative;
	&:before,
	&:after{
		content: '';
    	display: block;
    	position: absolute;
    	height: 1px;
    	width: 0;

	}
	&:before{
		transition: width 0s ease,background .4s ease;
		left: 0;
		right: 0;
    	bottom: 6px;
	}
	&:after{
		right: 2.2%;
    	bottom: 6px;
    	background: #b2876f;
		transition: width .4s ease;
	}
	
	&:hover{
		&:before{
			width: 97.8%;
			background: #b2876f;
    		transition: width .4s ease;
		}
		&:after{
			width: 97.8%;
    		background: 0 0;
			transition: all 0s ease;
		}
	}
}
.hologram-btn{
	display: inline-block;
  	padding: 1.5em 2.6em;
  	border-radius: 0;
	color: #b2876f;
  	margin-top:2rem;
  	font-weight: bold;
  	font-size: 0.8rem;
  	letter-spacing: 1px;
  	text-transform: uppercase;
  	text-decoration: none;
	position: relative;
	transition: all 250ms ease;
	&:before,
	&:after{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border: 2px solid;
		transition: .25s;
	}
	&:before{
		transform: translateX(-.25em) translateY(.25em);
	}
	&:after{
		transform: translateX(.25em) translateY(-.25em);
	}
	
	&:hover{
		&:before,
		&:after{
			transform: translateX(0) translateY(0);
		}
	}
}
.btn{
  	display: inline-block;
  	padding: 1em 1.6em;
  	border-radius: 3px;
  	margin-top:2rem;
  	font-weight: bold;
  	font-size: 0.8rem;
  	letter-spacing: 1px;
  	text-transform: uppercase;
  	text-decoration: none;
	position: relative;
	overflow: hidden;
	transition: all 250ms ease;
	
	&:hover{
		color: white;
		&:after{
			animation-name: bgin;
			transform: skew(-45deg) translate(-50%);
		}
	}
	
	&:after {
		content: '';
		z-index: -1;
		width: 150%;
		height: 100%;
		display: block;
    	position: absolute;
    	top: 0;
    	left: 50%;
		animation-name: bgout;
   		animation-duration:400ms;
		transform: skew(-45deg) translate(-150%);
    }
	&--green{
		border: 2px solid white;
		color: white;
		background-color: green;
		
		&:after{
			z-index: 1;
			background-color: lighten(green, 10%);
		}
	}
	&--orange{
		border: 2px solid #f28e0a;
		color: #f28e0a;
		
		&:after{
			background-color: #f28e0a;
		}
	}
	&--blue{
		// border: 1px solid #e5e7e4;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
		color: #505959;
		letter-spacing: 2px;
		padding: 1.2em 2.2em;
		
		&:after{
			 
			// background: linear-gradient(to left, #00d2ff , #3a7bd5);
		}
		&:hover{
			color: #00d2ff;
			box-shadow: 0 27px 55px rgba(0,0,0,0.3), 0 17px 17px rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0);
			// border-color: #20A2E8;
		}
	}
}
@keyframes bgin{
	from {
		transform: skew(-45deg) translate(-150%);
	}
	to {
		transform: skew(-45deg) translate(-50%);
	}
}
@keyframes bgout{
	from {
		transform: skew(-45deg) translate(-50%);
	}
	to {
		transform: skew(-45deg) translate(50%);
	}
}

.nav-btn{
	display: inline-block;
  	line-height: 35px;
	vertical-align: middle;
  	font-weight: bold;
  	font-size: 0.8rem;
  	letter-spacing: 1px;
  	text-transform: uppercase;
  	text-decoration: none;
	position: relative;
	color: #31424e;
    padding: 0 15px;
    margin: 2rem 5px 0;
    transition: all .4s ease-in-out;
	
	&:before{
		content: '';
		display: block;
		// transition: all .4s;
		position: absolute;
		left: -2px;
		top: -2px;
		width: 100%;
		height: 100%;
		border-radius: 999px;
		border-width: 2px;
		border-style: solid;
		transform: scale(.9);
		border-color: transparent;
		opacity: 0;
		animation-name: bubbleOut;
   		animation-duration:400ms;
	}
	
	&:hover{
		&:before{
			animation-name: bubbleIn;
   			animation-duration:400ms;

			
			
			//leave
			
		}
	}
}
@keyframes bubbleIn{
	from {
		transform: scale(.9);
		border-color: transparent;
		opacity: 0;
	}
	to {
		border-color: #abbabf;
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes bubbleOut{
	from {
		border-color: #abbabf;
		transform: scale(1);
		opacity: 1;
	}
	to {
		border-color: transparent;
		transform: scale(1.2);
		opacity: 0;
	}
}
