@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,100);
@import url(https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800);
@import url(https://fonts.googleapis.com/css?family=Raleway:900);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:wght@100);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);
@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@300);
@import url(https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;700);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Bellefair);

@font-face {
    font-family: LemonMilk;
    src: url(./LemonMilkLight.ttf);
}

@font-face {
    font-family: AstroSpace;
    src: url(./AstroSpace-eZ2Bg.ttf)
}

@font-face {
    font-family: HeyOctober;
    src: url(./HeyOctober-Yz37y.ttf)
}

@font-face {
    font-family: Geffry;
    src: url(./GeffryRegular-MV5Jx.ttf)
}

@font-face {
    font-family: ProcrastinatingPixie;
    src: url(./ProcrastinatingPixie-WyVOO.ttf)
        /* src: url(?); */
}

@font-face {
    font-family: Library3am;
    src: url(./Library3am-5V3Z.otf);
    /* src: url(https://cdn.glitch.global/ee763057-497c-46e1-a5ee-97bae179396d/Library3am-5V3Z.otf?v=1673900483138); */
}

@font-face {
    font-family: "Do4Brain Light";
    src: url(./Do4BrainLight-vmXD9.ttf)
        /* src: url(https://cdn.glitch.global/ee763057-497c-46e1-a5ee-97bae179396d/Do4BrainLight-vmXD9.ttf?v=1673900971150); */
}

@font-face {
    font-family: Colombia;
    src: url(./Colombia-Rp0DV.ttf)
        /* src: url(https://cdn.glitch.global/ee763057-497c-46e1-a5ee-97bae179396d/Colombia-Rp0DV.ttf?v=1673901130854); */
}