.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

#envelope,
#discord,
#paypal {
    font-size: 8em;
    color: #fff;
    border-radius: 20px;
    background: #5f5bcd;
    box-shadow: 20px 20px 60px #000,
             -20px -20px 60px #555;
    padding: 11px 19px;
    margin: 0 40px;
    animation: animate 3s linear infinite;
}

#discord {
    font-size: 7.5em;
}

/* Image slider (base, no automatic moving) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    position: relative;
    display: flex;
    width: 1200px;
    height: 480px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 25px;
}

.slider .slider-items .slider-item {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.6s;
}

.slider .slider-controls span {
    cursor: pointer;
    position: absolute;
    top: 42%;
    width: 34px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 32px;
    color: #303030;
    background: #ffffffaf;
    transition: 0.3s ease;
}

.slider .slider-controls span:hover {
    color: #000;
    background: #fff;
}

.slider .slider-controls .prev {
    left: 0;
    border-radius: 0 10px 10px 0;
}

.slider .slider-controls .next {
    right: 0;
    border-radius: 10px 0 0 10px;
}

.slider .slider-indicators {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;
}

.slider .slider-indicators span {
    cursor: pointer;
    margin: 0 4px;
    width: 8px;
    height: 8px;
    border-radius: 3px;
    transition: 0.2s;
}

.slider .slider-content {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
}

.slider .slider-content h3 {
    position: absolute;
    bottom: 36px;
    color: #fff;
    font-size: 36px;
    font-family: "Kanit";
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.4s;
}

main .faq-content {
    padding: 0;
    margin-bottom: 0;
    margin-top: 30px;
}