:root {
    --nav--block-width: 33.34%;
    --nav--block-h3-width: 100vw;
    background-color: #222;
    color: white;
}

#nav-bar {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: fixed;
    z-index: 1000;
    width: 80vw;
    height: 50px;
    border-radius: 0 0 10px 10px;
}

#inclusion {
  display: flex;
  justify-content: center;
}

#nav-bar .nav-block {
  transition: all 0.3s ease-out 0s;
    text-align: center;
    display: flex;
    max-width: fit-content;
    width: var(--nav--block-width);
    cursor: pointer;
    border-radius: 0 0 10px 10px;
}

#nav-bar .nav-block:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease-out 0s;
  color: black;
}

#nav-bar .nav-block h3 {
    width: var(--nav--block-h3-width);
    justify-content: center;
    display: flex;
    align-items: center;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #nav-bar {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}